.App {
	font-family: sans-serif;
	text-align: center;
}

.home-container {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}

/* left sidebar css */
.left-sidebar-container {
	display: flex;
	flex-direction: column;
	position: sticky;
}
.sidebar-item {
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}
.sidebar-item i {
	padding: 5px;
}
/* Question */
.feed-post-container {
	display: block;
	padding: 0px 5px;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}
.post-details-card {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 0px 25px;
}
.posted-by-container {
	display: flex;
	justify-content: space-between;
}
.posted-by-details {
	display: flex;
	justify-content: space-around;
	background-color: #cccccc;
	font-size: 14px;
	font-weight: 300;
}
.posted-by-details span {
	margin-right: 5px;
}
.message-container {
	display: inline-block;
	text-align: left;
	overflow: hidden;
	font-size: 16px;
}
.message-container p {
	margin: 0px;
	padding: 10px 5px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}
